body {
   
  }
main p {
  font-size: 1.5em;
  line-height: 1.5em;
  width: 80%;
  margin: 50px auto;
  text-align: center;
}
nav {
    text-align: center;
    
    background-color: steelblue;
    padding: 10px;
  }
#active {
  background-color: white;
  color: steelblue;
}
a {
    color: white;
    margin: 40px;
    font-size: 1.5em;
  }
h1 {
    text-align: center;
    
    color: steelblue;
  }
img {
    width: 80%;
    display: block;
    margin: 0 auto;
    
  }
p {
    
    width: 80%;
    padding: 10px;
  }
footer {
    background-color: steelblue;
    color: white;
    text-align: center;
  }

